// @mixin arial {
//     font-family: 'Arial';
// }

@mixin ptserif {
    font-family: 'PT Serif', 'Arial', serif;
}

@mixin roboto-r {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
}

@mixin roboto-m {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
}

@mixin roboto-b {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 700;
}