// === Breakpoints === //
// $breakpoint-sm-min: 576px;
// $breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 736px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 1088px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
// $breakpoint-xl-min: 1200px;
// $breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;
// === / Breakpoints === //

// === Base value === //
$base: rem(4px);
// === / Base value === //

// === Font-size === //
$fs-xxs: rem(14px);
$fs-xs: rem(16px);
$fs-s: rem(20px);
$fs-m: rem(24px);
$fs-l: rem(30px);
$fs-xl: rem(44px);
$fs-xxl: rem(60px);
$fs-big: rem(90px);
// === / Font-size === //

// === Colors === //

// === Gray === //
$color-gray-300: #fff;
$color-gray-400: #f5f5f7;
$color-gray-500: #76767a;
$color-gray-600: #202020;
$color-gray-700: #000;
// === / Gray === //

// === Green === //
$color-green-400: rgba(112, 207, 41, 0.07);
$color-green-500: #64bd22;
// === / Green === //

// === Blue === //
$color-blue-400: rgba(63, 169, 245, 0.07);
$color-blue-500: #0061d9;
$color-blue-600: #0050b2;
// === / Blue === //

// === / Colors === //