// === Globals === //
@import './globals/normalize.scss';
@import './globals/settings.scss';
@import './globals/functions.scss';
@import './globals/vars.scss';
@import './globals/fonts.scss';
@import './globals/mixins.scss';

@import './globals/gallery-section-carousel.scss';
// === / Globals === //

// === Common === //
body {
    @include roboto-r;
    font-size: 18px;
    line-height: 24px;
}

.section-outer {
    width: 1920px;
}

.section-inner {
    width: 1120px;
    margin: 0 auto;

    &--s {
        width: 832px;
        margin: 0 auto;
    }
}

.vertical-indent {
    @mixin vertical-indent($size-t, $size-b) {
        padding-top: $size-t;
        padding-bottom: $size-b;
    }

    &--xs { @include vertical-indent(44px, 44px); }
    &--s { @include vertical-indent(44px, 80px); }
    &--m { @include vertical-indent(64px, 32px); }
    &--l { @include vertical-indent(75px, 82px); }
}

.link {
    font-size: 16px;
    line-height: 20px;

    color: #fff;

    &:hover {
        color: darken(#fff, 10%);
    }
}

h1 {
    @include ptserif;
    font-size: 90px;
    line-height: 118px;
}

h2 {
    @include ptserif;
    font-size: 30px;
    line-height: 40px;
}

h3 {
    @include roboto-m;
    font-size: 16px;
    line-height: 20px;
}
// === / Common === //

// === Header === //
.section-header {
    background: url('../img/header-bg.webp') 1920px 940px;
}

.upper-part-wrapper {
    border-bottom: 1px solid #fff;
}

.upper-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
}

.upper-part__logo-block {
    display: flex;
    align-items: center;
    width: 300px;
}

.upper-part__logo-svg {
    width: 54px;
    height: 54px;

    background: url('../img/logo.svg') no-repeat;
}

.upper-part__logo-text-block {
    margin-left: 20px;
}

.upper-part__logo-title {
    @include ptserif;
    font-size: 20px;
    line-height: 28px;

    color: #fff;
}

.upper-part__logo-text {
    font-size: 18px;
    line-height: 20px;

    color: #fff;
}

.upper-part__contacts {
    display: flex;
    align-items: center;
}

.upper-part__contacts-number,
.upper-part__contacts-mail {
    @include roboto-b;
    font-size: 18px;
    line-height: 22px;

    margin: 0 33px 0 13px;

    color: #fff;

    &:hover {
        color: darken(#fff, 10%);
    }
}

.upper-part__contacts-mail {
    margin: 0 45px 0 13px;
}

.upper-part__contacts-number-svg,
.upper-part__contacts-mail-svg {
    width: 24px;
    height: 24px;

    opacity: 0.8;
}

.upper-part__contacts-number-svg {
    background: url('../img/phone-pic.svg') no-repeat;
}

.upper-part__contacts-mail-svg {
    background: url('../img/mail-pic.svg') no-repeat;
}

.upper-part__contacts-callback {
    padding: 13px 25px;

    border: 1px solid #fff;
    border-radius: 22px;

    &:hover {
        border-color: darken(#fff, 10%);
    }
}

.navbar {
    padding: 20px 0 0 0;
    margin-bottom: 105px;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    margin-right: 32px;

    &:last-child {
        margin-right: 0;
    }
}

.central-part {
    margin-bottom: 150px;
}

.central-part__title {
    width: 600px;
    margin-bottom: 8px;

    color: #fff;
}

.central-part__text {
    font-size: 20px;
    line-height: 30px;

    width: 450px;
    margin-bottom: 94px;

    color: #fff;
}

.central-part__link {
    display: inline-block;
    padding: 20px 50px;

    @include roboto-m;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;

    border: 1px solid #fff;
    border-radius: 30px;

    &:hover {
        border-color: darken(#fff, 10%);
    }
}

.lower-part {
    display: flex;
    justify-content: center;
    padding: 33px 0;
}

.lower-part__arrow-svg {
    width: 40px;
    height: 40px;
    
    background: url('../img/arrow.svg') no-repeat;

    &:hover {
        opacity: 0.7;
    }
}
// === / Header === //

// === Gallery-links === //
.gallery-links-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.gallery-links__link {
    width: 256px;
    height: 200px;
    margin: 0 32px 32px 0;

    color: #000;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.gallery-links__figure {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 254px;
    height: 200px;

    border: 1px solid #d9d9de;
    border-radius: 4px;

    & figcaption {
        display: flex;
        align-items: center;
        align-self: flex-start;
        flex-grow: 1;
        margin-left: 20px;
        
        @include roboto-m;
        font-size: 16px;
        line-height: 18px;
    }
}
// === / Gallery-links === //

// === Services === //
.services {
    background-color: rgba(112, 207, 41, 0.07);
}

.services__title {
    margin-bottom: 50px;

    text-align: center;
}

.services-block {
    display: flex;
    flex-wrap: wrap;
}

.services-block__item {
    margin: 0 30px 37px 0;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.services-block__icon {
    width: 86px;
    height: 86px;

    background-repeat: no-repeat;

    &--1 {
        background-image: url('../img/services-1.svg');
    }

    &--2 {
        background-image: url('../img/services-2.svg');
    }

    &--3 {
        background-image: url('../img/services-3.svg');
    }

    &--4 {
        background-image: url('../img/services-4.svg');
    }

    &--5 {
        background-image: url('../img/services-5.svg');
    }

    &--6 {
        background-image: url('../img/services-6.svg');
    }

    &--7 {
        background-image: url('../img/services-7.svg');
    }

    &--8 {
        background-image: url('../img/services-8.svg');
    }
}

.services-block__text {
    width: 256px;
    margin-top: 13px;

    font-size: 16px;
    line-height: 20px;
}
// === / Services === //

// === Popular offers === //
.popular-offers {
    border-bottom: 1px solid #c4c4c4;
}

.popular-offers__title {
    margin-bottom: 40px;
}

.popular-offers-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: repeat(4, 256px);
    column-gap: 32px;
    row-gap: 32px;
}

.popular-offers__item {
    position: relative;
}

.popular-offers__item-img-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.popular-offers__item-title {
    position: absolute;
    top: 0;
    left: 0;

    padding: 13px 17px 0;

    @include roboto-m;
    font-size: 18px;
    line-height: 24px;

    color: #fff;

    &--big {
        padding: 24px 33px 0;
    }

    &--last {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 0 17px;

        font-size: 24px;
        line-height: 30px;
    }
}

.popular-offers__item-price {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 0 17px 17px;

    font-size: 16px;
    line-height: 20px;

    color: #fff;

    &--big {
        padding: 0 33px 17px;

        &:first-child {
            bottom: -20px;
        }
    }
}
// === / Popular offers === //

// === Map section === //
.map-block {
    margin-bottom: 76px;
}

.map-block__title {
    margin-bottom: 30px;

    text-align: center;
}

.desc-block {
    display: flex;
}

.desc-block__info {
    margin-right: 32px;
}

.desc-block__title {
    margin-bottom: 30px;
}

.desc-block__text {
    margin-bottom: 10px;
}

.desc-block__link {
    display: inline-block;
    margin-top: 20px;

    font-size: 16px;
    line-height: 20px;

    color: #76767a;
    text-decoration: underline;
    text-decoration-color: #76767a;

    &:hover {
        text-decoration: none;
    }
}

.desc-block__content {
    position: relative;

    cursor: pointer;

    &:hover > svg {
        opacity: 0.4;
    }
}

.desc-block__content-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60px;
    height: 60px;

    background: url('../img/play-icon.svg') no-repeat;
    opacity: 0.5;
}
// === / Map section === //

// === Gallery section === //
.gallery-section {
    background-color: rgba(63, 169, 245, 0.07);
}

.gallery-section__upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin-bottom: 59px;
}

.gallery-section__upper-part-link {
    font-size: 16px;
    line-height: 20px;

    color: #0050B2;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.gallery-section__photos {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    grid-template-rows: repeat(2, 256px);
    column-gap: 32px;
    row-gap: 32px;
}
// === / Gallery section === //

// === Stats section === //
.stats-section__desc {
    padding-bottom: 50px;

    border-bottom: 1px solid #c4c4c4;
}

.stats-section__desc-title {
    margin-bottom: 45px;

    @include ptserif;
    font-size: 44px;
    line-height: 56px;
    text-transform: uppercase;
}

.stats-section__desc-wrapper {
    display: flex;
}

.stats-section__desc-photos {
    position: relative;

    min-width: 352px;
    min-height: 478px;
}

.stats-section__desc-photo-1 {
    display: block;
    width: 256px;
    height: 256px;

    background: url('../img/stats-section-img-1.webp');
}

.stats-section__desc-photo-2 {
    position: absolute;
    top: 160px;
    left: 96px;

    width: 256px;
    height: 318px;

    border: 10px solid #fff;
    background: url('../img/stats-section-img-2.webp');

}

.stats-section__desc-text-block {
    margin-left: 32px;
}

.stats-section__desc-text {
    margin-bottom: 10px;
}

.stats-section__stats {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.stats-section__stats-item {
    width: 132px;
}

.stats-section__stats-item--4 {
    width: 320px;
}

.stats-section__stats-item--5 {
    width: 200px;
}

.stats-section__stats-item-number {
    @include ptserif;
    font-size: 58px;
    line-height: 75px;

    color: #64BD22;
}

.stats-section__stats-item-text {
    @include roboto-m;
    font-size: 20px;
    line-height: 26px;
}
// === / Stats section === //

// === Form section === //
.form-section {
    background-color: #f5f5f7;
}

.form-section__title {
    margin-bottom: 50px;

    text-align: center;
}

.form-section__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 248px;
    margin-bottom: 30px;

    & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 112px;
    }
}

.form-section__block-input {
    width: 256px;
    height: 44px;
    padding: 12px 14px;

    border: 1px solid #d9d9de;

    &[placeholder] {
        font-size: 16px;
        line-height: 20px;
    }

    &--s {
        width: 153px;
    }

    &--l {
        width: 649px;
        height: 112px;
    }
}

.form-section__submit-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-section__checkbox {
    position: relative;
    
    padding-left: 44px;
    min-height: 26px;
}

.form-section__submit {
    padding: 19px 65px;

    font-size: 18px;
    line-height: 22px;

    color: #fff;
    background-color: #0061d9;
    border: 0;
    border-radius: 30px;

    &:hover {
        background-color: lighten(#0061d9, 5%)
    }
}

.form-section__checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 26px;

    opacity: 0.01;
    cursor: pointer;
    
    &:checked + .form-section__checkbox-label::after {
        display: block;
    }

    &:hover + .form-section__checkbox-label {
        border-bottom: 0;
    }
}

.form-section__checkbox-label {
    position: relative;

    font-size: 16px;
    line-height: 20px;

    color: #76767a;
    border-bottom: 1px solid #76767a;
    cursor: pointer;

    &::before {
        position: absolute;
        top: -2px;
        left: -42px;

        display: block;
        width: 26px;
        height: 26px;

        content: '';

        border: 2px solid #76767a;
        border-radius: 2px;
    }

    &::after {
        position: absolute;
        top: 1px;
        left: -35.5px;

        display: none;

        color: #76767a;
        content: '✕';
    }
}
// === / Form section === //

// === Footer === //
.footer {
    background-color: #202020;
}

.footer__links-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;

    border-bottom: 1px solid #fff;
}

.footer__links {
    width: 200px;

    &--s {
        width: 100px;
    }

    &--m {
        width: 150px;
    }
}

.footer__links-title {
    margin-bottom: 13px;

    text-transform: uppercase;

    color: #fff;
}

.footer__links-link {
    display: block;
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 20px;

    color: #fff;
    opacity: 0.8;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        color: darken(#fff, 15%);
    }
}

.footer__contacts-block {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.footer__contacts {
    width: 240px;
}

.footer__contacts-title {
    margin-bottom: 6px;

    @include roboto-m;
    font-size: 14px;
    line-height: 18px;

    color: #fff;
}

.footer__contacts-text {
    font-size: 14px;
    line-height: 20px;

    color: #fff;
    opacity: 0.8;
}

.footer__contacts-policy {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contacts-svg {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 53px;
    height: 22px;
    
    background: url('../img/footer-logo.svg');
    opacity: 0.5;
}

.footer__contacts-link {
    display: block;
    width: 100%;

    font-size: 14px;
    line-height: 18px;

    color: #fff;
    border-bottom: 1px solid #fff;

    &:hover {
        border-bottom-color: darken(#fff, 15%);
        color: darken(#fff, 15%);
    }
}

.footer__contacts-label {
    margin-left: 100px;

    font-size: 12px;
    line-height: 16px;

    color: #fff;
    opacity: 0.5;
}
// === / Footer === //