// === Globals === //
@import './globals/normalize.scss';
@import './globals/settings.scss';
@import './globals/functions.scss';
@import './globals/vars.scss';
@import './globals/fonts.scss';
@import './globals/mixins.scss';
@import './globals/templates.scss';

@import './globals/gallery-section-carousel.scss';
// === / Globals === //

// === Common === //
body {
    @include roboto;
    font-size: $fs-s;
    line-height: $base * 6;
}

.section-outer {
    width: 100%;
    margin: 0 auto;
}

.section-inner {
    width: $base * 280;
    margin: 0 auto;

    @media(max-width: $breakpoint-xxl-min) {
        width: $base * 256;
    }

    @media(max-width: $breakpoint-lg-min) {
        width: $base * 168;
    }
}

.vertical-indent {
    @mixin vertical-indent($size-t, $size-b) {
        padding-top: $size-t;
        padding-bottom: $size-b;
    }

    &--xs { @include vertical-indent($base*11, $base*11); }
    &--s { @include vertical-indent($base*11, $base*20); }
    &--m { @include vertical-indent($base*16, $base*16); }
    &--l { @include vertical-indent($base*19, $base*20.5); }
}

.link {
    font-size: $fs-xs;
    line-height: $base * 5;

    color: $color-gray-300;

    &:hover {
        color: darken($color-gray-300, 10%);
    }
}

h1 {
    @include ptserif;
    font-size: $fs-big;
    line-height: $base * 29.5;

    @media(max-width: $breakpoint-lg-min) {
        font-size: $fs-xxl;
        line-height: $base * 21;
    }
}

h2 {
    @include ptserif;
    font-size: $fs-l;
    line-height: $base * 10;
}

h3 {
    @include roboto-m;
    font-size: $fs-xs;
    line-height: $base * 5;
}
// === / Common === //

// === Header === //
.section-header {
    background: url('../img/header-bg.webp') no-repeat center center;
    background-size: cover;
}

.upper-part-wrapper {
    border-bottom: 1px solid $color-gray-300;
}

.upper-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $base*3 0;
}

.upper-part__logo-block {
    display: flex;
    align-items: center;
    width: $base * 71;
}

.upper-part__logo-svg {
    width: $base * 13.5;
    height: $base * 13.5;

    background: url('../img/logo.svg') no-repeat;
}

.upper-part__logo-text-block {
    margin-left: $base * 5;
}

.upper-part__logo-title {
    @include ptserif;
    font-size: $fs-s;
    line-height: $base * 7;

    color: $color-gray-300;
}

.upper-part__logo-text {
    font-size: $fs-s;
    line-height: $base * 5;

    color: $color-gray-300;
}

.upper-part__contacts {
    display: flex;
    align-items: center;
    justify-content: right;
    width: $base * 163.5;

    @media(max-width: $breakpoint-lg-min) {
        width: $base * 97;
    }
}

.upper-part__contacts-number,
.upper-part__contacts-mail {
    @include roboto-b;
    font-size: $fs-xs;
    line-height: $base * 5.5;

    margin: 0 $base*8 0 $base*3;

    color: $color-gray-300;

    &:hover {
        color: darken($color-gray-300, 10%);
    }

    @media(max-width: $breakpoint-lg-min) {
        display: none;
    }
}

.upper-part__contacts-mail {
    margin: 0 $base*10 0 $base*3;
}

.upper-part__contacts-number-svg,
.upper-part__contacts-mail-svg {
    width: $base * 6;
    height: $base * 6;

    opacity: 0.8;

    @media(max-width: $breakpoint-lg-min) {
        display: none;
    }
}

.upper-part__contacts-number-svg {
    background: url('../img/phone-pic.svg') no-repeat;
}

.upper-part__contacts-mail-svg {
    background: url('../img/mail-pic.svg') no-repeat;
}

.upper-part__contacts-callback {
    padding: $base*3 $base*6;

    border: 1px solid $color-gray-300;
    border-radius: $base * 5.5;

    &:hover {
        border-color: darken($color-gray-300, 10%);
    }
}

.navbar {
    padding: $base*4 0 0 0;
    margin-bottom: $base * 26;

    @media(max-width: $breakpoint-lg-min) {
        margin-bottom: $base * 11;
    }
}

.navbar__list {
    display: flex;
}

.navbar__item:not(:last-child) {
    margin-right: $base * 8;
}

.central-part {
    margin-bottom: $base * 37.5;

    @media(max-width: $breakpoint-lg-min) {
        margin-bottom: $base * 18;
    }
}

.central-part__title {
    width: $base * 150;
    margin-bottom: $base * 2;

    color: $color-gray-300;

    @media(max-width: $breakpoint-lg-min) {
        margin-bottom: $base * 7;
    }
}

.central-part__text {
    width: $base * 112.5;
    margin-bottom: $base * 23;

    font-size: $fs-s;
    line-height: $base * 7.5;

    color: $color-gray-300;

    @media(max-width: $breakpoint-lg-min) {
        margin-bottom: $base * 9;
    }
}

.central-part__link {
    display: inline-block;
    
    padding: $base*5 $base*12.5;

    @include roboto-m;
    font-size: $fs-xs;
    line-height: $base * 5;
    text-transform: uppercase;

    border: 1px solid $color-gray-300;
    border-radius: $base * 7.5;

    &:hover {
        border-color: darken($color-gray-300, 10%);
    }
}

.lower-part {
    display: flex;
    justify-content: center;
    padding: $base*8 0;
}

.lower-part__arrow-svg {
    width: $base * 10;
    height: $base * 10;
    
    background: url('../img/arrow.svg') no-repeat;

    &:hover {
        opacity: 0.7;
    }
}
// === / Header === //

// === Gallery-links === //
.gallery-links-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: repeat(3, 200px);
    gap: $base * 8;

    @media(max-width: $breakpoint-xxl-min) {
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: repeat(4, 250px);
    }

    @media(max-width: $breakpoint-lg-min) {
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(6, 250px);
    }
}

.gallery-links__link {
    width: $base * 64;
    height: $base * 50;

    color: $color-gray-700;

    @media(max-width: $breakpoint-xxl-min) {
        width: $base * 80;
        height: $base * 62.5;
    }
}

.gallery-links__figure {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $base * 63.5;
    height: $base * 50;

    border: 1px solid #d9d9de;
    border-radius: $base;

    @media(max-width: $breakpoint-xxl-min) {
        width: $base * 80;
        height: $base * 62.5;
    }
}

.gallery-links__figure-img {
    width: $base * 64;
    height: $base * 38;

    @media(max-width: $breakpoint-xxl-min) {
        width: $base * 80;
        height: $base * 47.5;
    }
}

.gallery-links__caption {
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex-grow: 1;
    text-indent: $base * 5;
    
    @include roboto-m;
    font-size: $fs-xs;
    line-height: $base * 4.5;
}
// === / Gallery-links === //

// === Services === //
.services {
    background-color: $color-green-400;
}

.services__title {
    margin-bottom: $base * 12.5;

    text-align: center;
}

.services-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: $base * 7.5;
    row-gap: $base * 9;

    @media(max-width: $breakpoint-lg-min) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: $base * 8;
        row-gap: $base * 6;
    }
}

.services-block__icon {
    width: $base * 21.5;
    height: $base * 21.5;

    background-repeat: no-repeat;

    &--1 {
        background-image: url('../img/services-1.svg');
    }

    &--2 {
        background-image: url('../img/services-2.svg');
    }

    &--3 {
        background-image: url('../img/services-3.svg');
    }

    &--4 {
        background-image: url('../img/services-4.svg');
    }

    &--5 {
        background-image: url('../img/services-5.svg');
    }

    &--6 {
        background-image: url('../img/services-6.svg');
    }

    &--7 {
        background-image: url('../img/services-7.svg');
    }

    &--8 {
        background-image: url('../img/services-8.svg');
    }
}

.services-block__text {
    width: $base * 64;
    margin-top: $base * 3;

    font-size: $fs-xs;
    line-height: $base * 5;

    @media(max-width: $breakpoint-xxl-min) {
        width: $base * 58;
    }
}
// === / Services === //

// === Popular offers === //
.popular-offers {
    border-bottom: 1px solid #c4c4c4;
}

.popular-offers__title {
    margin-bottom: $base * 10;
}

.popular-offers-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: $base * 8;
    row-gap: $base * 8;

    @media(max-width: $breakpoint-lg-min) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}

.popular-offers__item {
    position: relative;
}

.popular-offers__item-img {
    width: 256px;
    height: 256px;

    &_big {
        width: 544px;
        height: 544px;
    }

    @media(max-width: $breakpoint-xxl-min) {
        width: 232px;
        height: 232px;
    
        &_big {
            width: 494px;
            height: 494px;
        }
    }

    @media(max-width: $breakpoint-lg-min) {
        width: 320px;
        height: 320px;
    
        &_big {
            width: 672px;
            height: 672px;
        }
    }
}

.popular-offers__item-img-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.popular-offers__item-title {
    position: absolute;
    top: 0;
    left: 0;

    padding: $base*3 $base*4 0;

    @include roboto-m;
    font-size: $fs-xs;
    line-height: $base * 6;

    color: $color-gray-300;

    &--big {
        padding: $base*6 $base*8 0;
    }

    &--last {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 0 $base*4;

        font-size: $fs-m;
        line-height: $base * 7.5;
    }
}

.popular-offers__item-price {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 0 $base*4 $base*4;

    font-size: $fs-xs;
    line-height: $base * 5;

    color: $color-gray-300;

    &--big {
        padding: 0 $base*8 $base*4;

        &:first-child {
            bottom: -$base*5;
        }
    }
}
// === / Popular offers === //

// === Map section === //
.map-block {
    margin-bottom: $base * 19;
}

.map-block__map {
    width: 1120px;
    height: 609px;

    @media(max-width: $breakpoint-xxl-min) {
        width: 1024px;
    }

    @media(max-width: $breakpoint-lg-min) {
        width: 672px;
        height: 500px;
    }
}

.map-block__title {
    margin-bottom: $base * 7.5;

    text-align: center;
}

.desc-block {
    display: flex;

    @media(max-width: $breakpoint-lg-min) {
        flex-direction: column;
    }
}

.desc-block__info {
    margin-right: $base * 8;
}

.desc-block__title {
    margin-bottom: $base * 7.5;
}

.desc-block__text:not(:last-child) {
    margin-bottom: $base * 2.5;
}

.desc-block__link {
    display: inline-block;
    margin-top: $base * 5;

    font-size: $fs-xs;
    line-height: $base * 5;

    color: $color-gray-500;
    text-decoration: underline;
    text-decoration-color: $color-gray-500;

    &:hover {
        text-decoration: none;
    }
}

.desc-block__content {
    position: relative;

    cursor: pointer;

    &:hover > svg {
        opacity: 0.4;
    }
}

.desc-block__content-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: $base * 15;
    height: $base * 15;

    background: url('../img/play-icon.svg') no-repeat;
    opacity: 0.5;
}
// === / Map section === //

// === Gallery section === //
.gallery-section {
    background-color: $color-blue-400;
}

.gallery-section__upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $base * 240;
    margin-bottom: $base * 15;

    @media(max-width: $breakpoint-xxl-min) {
        width: $base * 215.5;
    }

    @media(max-width: $breakpoint-lg-min) {
        width: $base * 128;
    }
}

.gallery-section__upper-part-link {
    font-size: $fs-xs;
    line-height: $base * 5;

    color: $color-blue-600;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.gallery-section__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: $base * 8;
    row-gap: $base * 8;

    @media(max-width: $breakpoint-lg-min) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
// === / Gallery section === //

// === Stats section === //
.stats-section__desc {
    padding-bottom: $base * 16;

    border-bottom: 1px solid #c4c4c4;
}

.stats-section__desc-title {
    margin-bottom: $base * 11;

    @include ptserif;
    font-size: $fs-xl;
    line-height: $base * 14;
    text-transform: uppercase;

    @media(max-width: $breakpoint-lg-min) {
        text-align: center;
    }
}

.stats-section__desc-wrapper {
    display: flex;
}

.stats-section__desc-photos {
    position: relative;

    min-width: $base * 88;
    min-height: $base * 119.5;

    @media(max-width: $breakpoint-lg-min) {
        display: none;
    }
}

.stats-section__desc-photo-1 {
    display: block;
    width: $base * 64;
    height: $base * 64;

    background: url('../img/stats-section-img-1.webp');
}

.stats-section__desc-photo-2 {
    position: absolute;
    top: $base * 40;
    left: $base * 24;

    width: $base * 64;
    height: $base * 79.5;

    border: $base*2.5 solid $color-gray-300;
    background: url('../img/stats-section-img-2.webp');

}

.stats-section__desc-text-block {
    margin-left: $base * 8;
}

.stats-section__desc-text:not(:last-child) {
    margin-bottom: $base * 2.5;
}

.stats-section__stats {
    display: flex;
    justify-content: space-between;
    padding-top: $base * 10;
}

.stats-section__stats-item {
    width: $base * 33;
}

.stats-section__stats-item--l {
    width: $base * 80;

    @media(max-width: $breakpoint-lg-min) {
        width: $base * 45;
    }
}

.stats-section__stats-item--m {
    width: $base * 50;

    @media(max-width: $breakpoint-lg-min) {
        width: $base * 32.5;
    }
}

.stats-section__stats-item-number {
    @include ptserif;
    font-size: $fs-xxl;
    line-height: $base * 19;

    color: $color-green-500;

    @media(max-width: $breakpoint-lg-min) {
        font-size: $fs-xl;
        line-height: $base * 15;
    }
}

.stats-section__stats-item-text {
    @include roboto-m;
    font-size: $fs-s;
    line-height: $base * 6;

    @media(max-width: $breakpoint-lg-min) {
        font-size: $fs-xs;
        line-height: $base * 5;
    }
}
// === / Stats section === //

// === Form section === //
.form-section {
    background-color: $color-gray-400;
}

.form-section__wrapper {
    width: $base * 208;
    margin: 0 auto;
}

.form-section__title {
    margin-bottom: $base * 12.5;

    text-align: center;
}

.form-section__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: $base * 62;
    margin-bottom: $base * 7.5;
}

.form-section__block-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $base * 28;
}

.form-section__block-input {
    width: $base * 64;
    height: $base * 11;
    padding: $base*3 $base*3.5;

    border: 1px solid #d9d9de;

    &[placeholder] {
        font-size: $fs-xs;
        line-height: $base * 5;
    }

    &--s {
        width: $base * 38;
    }

    &--l {
        width: $base * 162;
        height: $base * 28;
    }
}

.form-section__submit-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-section__checkbox {
    position: relative;
    
    padding-left: $base * 11;
    min-height: $base * 6.5;
}

.form-section__submit {
    padding: $base*5 $base*16;

    font-size: $fs-xs;
    line-height: $base * 5.5;

    color: $color-gray-300;
    background-color: $color-blue-500;
    border: 0;
    border-radius: $base * 7.5;

    &:hover {
        background-color: lighten($color-blue-500, 5%)
    }
}

.form-section__checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: $base * 6.5;

    opacity: 0.01;
    cursor: pointer;
    
    &:checked + .form-section__checkbox-label::after {
        display: block;
    }

    &:hover + .form-section__checkbox-label {
        border-bottom: 0;
    }
}

.form-section__checkbox-label {
    position: relative;

    font-size: $fs-xs;
    line-height: $base * 5;

    color: $color-gray-500;
    border-bottom: 1px solid $color-gray-500;
    cursor: pointer;

    &::before {
        position: absolute;
        top: -$base/2;
        left: -$base*10.5;

        display: block;
        width: $base * 6.5;
        height: $base * 6.5;

        content: '';

        border: $base/2 solid $color-gray-500;
        border-radius: $base/2;
    }

    &::after {
        position: absolute;
        top: 1px;
        left: -35.5px;

        display: none;

        color: $color-gray-500;
        content: '✕';
    }
}
// === / Form section === //

// === Footer === //
.footer {
    background-color: $color-gray-600;
}

.footer__links-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: $base * 9;

    border-bottom: 1px solid $color-gray-300;
}

.footer__links {
    width: $base * 50;

    &--s {
        width: $base * 25;
    }

    &--m {
        width: $base * 37.5;
    }
}

.footer__links-title {
    margin-bottom: $base * 3;

    text-transform: uppercase;

    color: $color-gray-300;
}

.footer__links-link {
    display: block;
    margin-bottom: $base * 2.5;

    font-size: $fs-xs;
    line-height: $base * 5;

    color: $color-gray-300;
    opacity: 0.8;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        color: darken($color-gray-300, 15%);
    }
}

.footer__contacts-block {
    display: flex;
    justify-content: space-between;
    padding-top: $base * 8;
}

.footer__contacts {
    width: $base * 60;
}

.footer__contacts-title {
    margin-bottom: $base * 1.5;

    @include roboto-m;
    font-size: $fs-xxs;
    line-height: $base * 4.5;

    color: $color-gray-300;
}

.footer__contacts-text {
    font-size: $fs-xxs;
    line-height: $base * 5;

    color: $color-gray-300;
    opacity: 0.8;
}

.footer__contacts-policy {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contacts-svg {
    position: absolute;
    bottom: 0;
    right: 0;

    width: $base * 13;
    height: $base * 5.5;
    
    background: url('../img/footer-logo.svg');
    opacity: 0.5;
}

.footer__contacts-link {
    display: block;
    width: 100%;

    font-size: $fs-xxs;
    line-height: $base * 4.5;

    color: $color-gray-300;
    border-bottom: 1px solid $color-gray-300;

    &:hover {
        border-bottom-color: darken($color-gray-300, 15%);
        color: darken($color-gray-300, 15%);
    }
}

.footer__contacts-label {
    margin-left: $base * 25;

    font-size: $fs-xxs;
    line-height: $base * 4;

    color: $color-gray-300;
    opacity: 0.5;
}
// === / Footer === //